{% for msg in messages -%}
    <div class="log-message {{ msg.kind }}{% if msg.is_deleted %} deleted{% endif %}" data-timestamp="{{ msg.time }}"><span class="delete-message-button" onclick="deleteMessage({{ msg.idx }})">{% if msg.is_deleted %}r{% else %}x{% endif %}</span><span class="message-body">{{ msg.body }}</span></div>
{%- endfor -%}
