#panels {
    width: 100%;
    border-spacing: 10px;
}

#panels td {
    border: 2px solid #888;
    border-radius: 5px;
    padding: 0;
    background-color: #eaefef;
}

#settings-panel {
    width: 40%;
}

#settings-panel section {
    padding: 10px;
}

#settings-panel section:not(:last-child) {
    border-bottom: 2px solid #888;
}

.label {
    font-weight: bold;
}

.secondary-label {
    display: inline-block;
    margin-top: 10px;
    text-indent: 20px;
}

.setting {
    float: right;
    color: #555;
}

.secondary-setting {
    float: right;
    margin-top: 10px;
    color: #555;
}

.secondary-setting input {
    width: 70px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
    text-align: right;
    border-bottom: 1px solid #555;
}

.link-button {
    color: #888888;
    text-decoration: none;
    cursor: pointer;
}

.link-button:hover {
    color: #555;
    text-decoration: underline;
}

.monospace {
    font-family: monospace;
}

/* TODO: finish the log panel */
#log-panel {
    text-align: center;
    color: #555;
}